/*other-pages-style //////////////////////      //////////////////// other-pages-style*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    text-transform: none  !important;
    font-family: 'Alata', sans-serif;
}
body{
    background-color: #fff;
}

.header-pages {
    width: 100%;
    height: 600px;
    position: relative;
    background-image: url(../images/banner/1324663.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease;
}


.header-pages .welcomediv h1,
.header-programing .welcomediv h1 {
    font-family: 'Dancing Script', cursive;
}



/* /////////////////////////////////////////////////////////// */
.creative-tab {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 40px;
}
.above-tabe-text h4,
.above-tabe-text h5{
    font-family: 'Architects Daughter',cursive;
    color: #334366;
}

.above-tabe-text h5 {
    font-weight: 600;
    font-style: italic;
    font-size: 30px;
}

.creative-tab .nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom: 0;
    border-right: 1px solid #97b1e7;
    padding-right: 15px;
}

.creative-tab .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: #6791eb;
    color: #fff;
    margin-top: 10px;
    
}

.creative-tab .nav-tabs .nav-link.active {
    background-color: #334366 !important;
    border-color: transparent !important;
    color: #FFF8F6 !important;
}

.creative-tab .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
    color: #fff !important;
}


.creative-tab .nav-tabs .nav-link:hover {
  background-color: #334366;
  color: #ffff!important;  
}

.creative-tab .tab-content>.active {
    display: block;
    background: #d9e2f5;
    min-height: 165px;
}

.creative-tab .nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom: 0;
    border-right: 1px solid transparent;
    padding-right: 15px;
}
.potery-image img{
    width: 100%;
    height: 200px!important;
}
.modal{
    margin-top: 50px;
    height: 90%;
    color: #334366;
}
.modal-header{
    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    color: #fff!important;
}
.modal-body p {
    letter-spacing: 1.4px;
    text-align: left;
}


.modal-body {
    background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    no-repeat center ;
    background-size: cover;
}



.modal-body::-webkit-scrollbar {
    width: 8px;
}

.modal-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: #334366 !important;
    outline: 1px solid slategrey;
}


/* /////////////////////// */
/* /////////////////////// */
/* /////////////////////// */
/* /////////////////////// */

.photography{
     width: 100%;
     height: auto;
     position: relative;
     margin-top: 40px!important;
}


.photo-img-container{
    margin-top: 0px;
}

/* .ph-photo{
    height: 1;
} */

/* /////////////////////// */
/* /////////////////////// */
/* /////////////////////// */
/* /////////////////////// */

.header-programing {
    width: 100%;
    height: 600px;
    background:url(../images/programing/technology-1283624_1280.jpg) no-repeat center  ;
    background-size: cover;
    position: relative;
    transition: all 0.3s ease;
}

.programing {
    width: 100%;
    height: auto;
    position: relative;
}


.skills-bar {
    width: 100%;
    height: 10px;
    background: #CDE1F8 !important;
    margin-top: -15px;
    display: block;
    border-radius: 4px;
}

.skills-bar .skill-1 {
    width: 95% !important;
    height: 100%;
    background-color: #334366 !important;

}

.skills-bar .skill-2 {
    width: 85% !important;
    height: 100%;
    background-color: #334366 !important;

}

.skills-bar .skill-3 {
    width: 80% !important;
    height: 100%;
    background-color: #334366 !important;

}

.skills-bar .skill-4 {
    width: 65% !important;
    height: 100%;
    background-color: #334366 !important;

}

.skills-bar .skill-5 {
    width: 85% !important;
    height: 100%;
    background-color: #334366 !important;

}

.skills-bar .skill-6 {
    width: 75% !important;
    height: 100%;
    background-color: #334366 !important;

}




.img-card {
    position: relative;
    overflow: hidden;
}

.programing-img {
    display: block;
    /* max-width: 100%; */
    transition: all 0.6s ease-out;

}

.img-card:hover .programing-img {
    transform:  scale(1.1);
}

.programing-text  {
    margin-top: 20px;
}

 h4 {
    color: #334366;
}
 s {
    color: #6791eb!important;
}

.programing-text p {
    font-size: 14px;
    color: #888888;
}


.fa-user-clock ,
.fa-calendar-week{
    color: #334366;
}
.course-data h5{
    color: #6791eb;

}











.cart-container {
    padding: 0 10px;
    margin: 0;
    width: 100% !important;
    height: 50% !important;
}

.card-img img {
    width: 100% !important;
    height: 100%!important;
    border-radius: 5px;
}

.card-title {
    letter-spacing: 2px;
    font-size: 18px;
    color: #334366 !important;
}

/* .blog-data {

} */
.events-p{
    font-size: 12px;
}
.paragraph-2 {
    color: #fff !important;
}

.card-butn {
    border: 1px solid #97b1e7;
    border-radius: 0px;
    color: #97b1e7;
    transition: all 0.8s ease;
    padding: 10px 15px;

}

.card-butn:hover {
    border: 1px solid #97b1e7;
    border-radius: 0px;
    color: #fff;
    background-color: #97b1e7;

}














/*
<!-- todo this website designed by Mostafa Emad Gomaa (mostafa.emad43285@gmail.com) tele (01064691587)   -->
<!-- todo this website designed by Mostafa Emad Gomaa (mostafa.emad43285@gmail.com) tele (01064691587)   -->
<!-- todo this website designed by Mostafa Emad Gomaa (mostafa.emad43285@gmail.com) tele (01064691587)   -->
<!-- todo this website designed by Mostafa Emad Gomaa (mostafa.emad43285@gmail.com) tele (01064691587)   -->
<!-- todo this website designed by Mostafa Emad Gomaa (mostafa.emad43285@gmail.com) tele (01064691587)   -->
<!-- todo this website designed by Mostafa Emad Gomaa (mostafa.emad43285@gmail.com) tele (01064691587)   -->
<!-- todo this website designed by Mostafa Emad Gomaa (mostafa.emad43285@gmail.com) tele (01064691587)   -->
<!-- todo this website designed by Mostafa Emad Gomaa (mostafa.emad43285@gmail.com) tele (01064691587)   -->
<!-- todo this website designed by Mostafa Emad Gomaa (mostafa.emad43285@gmail.com) tele (01064691587)   -->
<!-- todo this website designed by Mostafa Emad Gomaa (mostafa.emad43285@gmail.com) tele (01064691587)   -->
<!-- todo this website designed by Mostafa Emad Gomaa (mostafa.emad43285@gmail.com) tele (01064691587)   -->
<!-- todo this website designed by Mostafa Emad Gomaa (mostafa.emad43285@gmail.com) tele (01064691587)   -->
<!-- todo this website designed by Mostafa Emad Gomaa (mostafa.emad43285@gmail.com) tele (01064691587)   -->
<!-- todo this website designed by Mostafa Emad Gomaa (mostafa.emad43285@gmail.com) tele (01064691587)   -->
<!-- todo this website designed by Mostafa Emad Gomaa (mostafa.emad43285@gmail.com) tele (01064691587)   -->
<!-- todo this website designed by Mostafa Emad Gomaa (mostafa.emad43285@gmail.com) tele (01064691587)   -->
<!-- todo this website designed by Mostafa Emad Gomaa (mostafa.emad43285@gmail.com) tele (01064691587)   -->
<!-- todo this website designed by Mostafa Emad Gomaa (mostafa.emad43285@gmail.com) tele (01064691587)   -->
<!-- todo this website designed by Mostafa Emad Gomaa (mostafa.emad43285@gmail.com) tele (01064691587)   -->
<!-- todo this website designed by Mostafa Emad Gomaa (mostafa.emad43285@gmail.com) tele (01064691587)   -->
<!-- todo this website designed by Mostafa Emad Gomaa (mostafa.emad43285@gmail.com) tele (01064691587)   -->
<!-- todo this website designed by Mostafa Emad Gomaa (mostafa.emad43285@gmail.com) tele (01064691587)   -->
<!-- todo this website designed by Mostafa Emad Gomaa (mostafa.emad43285@gmail.com) tele (01064691587)   -->
<!-- todo this website designed by Mostafa Emad Gomaa (mostafa.emad43285@gmail.com) tele (01064691587)   -->
 */

