body{
  background: url("../images/banners/profile.jpg") no-repeat center fixed;
  background-size: cover;
}


.Profile-header {
    width: 100%;
    height: 600px;
    position: relative;
    background: transparent!important;

}

/* .Profile-header .welcomediv {
    margin-top: 100px!important;
} */
.welcomediv .personal-photo img {
    width: 270px;
    height: 270px;
    border-radius: 50px;
    border: 10px solid #97b1e7;
    transition: 0.5s;
    transform: scale(1);

}

.welcomediv .personal-photo img:hover {
    transition: 0.5s;
    transform: scale(1.0800);
}